/* shared style */
.commonbutton{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    padding: 16px 35px;
    border: none;
    border-radius: 5px;
    
}
.commonbutton:hover{
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* header style */
.header{
    max-width: 1400px;
    height: 500px;
    border-radius: 20px;
    margin: 30px;
    padding-bottom: 50px;
    background-image: url(/assests/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 20px 100px;
}
.logo{
    color: rgba(78,71, 255, 100%);
    font-size: 40px;
    font-weight: 900;
}
/* banner style */
.banner-content{
    text-align: center;
    margin: 20px 100px;
    padding: 16px 35px;

}
.hero-heading{
    color: cadetblue;
    font-size: 50px;
    font-weight: 900;
}
.hero-subtitle{
    color:rgba(0, 0, 0, 60%);
    font-weight: 500;
}
/* action-section style */
.action-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(173, 216, 230,40%);
    width: 1140px;
    height: 330px;
    margin: 0 auto; 
    padding: 1px 2px;
    border-radius: 20px;
       
        
}
.text-action{
    padding: 100px;    
}
.text-action h2{
    font-size: 40px;
    font-weight: 600;
}
.text-action p{
    color:rgba(0, 0, 0, 60%);
}

.image-action{
    width: 403px;
    height: 328px;
    border-radius: 50px;
    
}
/* productive-user  */

.productive-user{
    background-color: rgba(173, 216, 230,40%);
    border-radius: 20px;
    max-width: 1140px;
    /* margin: 30px auto; */
    margin: 40px 60px;
    padding: 80px 100px;
    text-align: center;


       
}

.prouser-title{
    font-size: 50px;
}
.data-user{
   display: flex;
    align-items: center;
    justify-content:space-around; 
}
.data-user h2{
    color: blue;
    font-size: 40px;
    font-weight: 900;

}
.data-user h5{
    font-weight: 400;
}

/* form style */

.get-in-touch{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(173, 216, 230,20%);
    border-radius: 20px;
    max-width: 1140px;
    margin: 40px 60px;
    padding: 80px 100px;
    
}
.get-in-touch h2{
    font-size: 60px;

}


.get-in-touch input[type=text]{
    height: 30px;
    width: auto;
    border-radius: 5px;
    padding: 10px 20px;
    
}
.get-in-touch input[type=email]{
    height: 30px;
    width: auto;
    border-radius: 5px;
    padding: 10px 20px;
    
}
textarea{
    border-radius: 5px;
    padding: 10px 20px;
    columns: 50px;
}
    
    













    
